
@{
    ViewBag.Title = "Home";
}

@Html.ExibeImagens()

<h3>Encontre seu restaurante aqui!</h3>

<div class="row"> 
    <form class="form-inline"> 
        <div class="form-group"> 
            <label>Bairro</label> 
            @Html.DropDownList("Bairro") 
        </div> 
        <div class="form-group"> 
            <label>Gênero</label> 
            @Html.DropDownList("Genero") 
        </div> 
    <button type="button" id="pesquisar" class="btn btn-success">Pesquisar</button> 
    <br /><br />
   </form> 
    </div>
 <div class="row">
     <div id="resultados"></div> 
 </div> 

@section Scripts{
    <script>
            $(function(){
                $("#pesquisar").on("click", function (){//Captura clique no botão de id="pesquisar"
               
                    //Obtém os dados dos DropDownLists Bairro e Gênero selecionados e os atribui a uma variável
                    var pesquisa = {
                        IDBairro: $("#Bairro").val(), IDGenero: $("#Genero").val()
                    };
                    //Exibe os resultados da pesquisa passando como parâmentros o controller, a action, a variável contendo os dados do bairro e do gênero e os resultados
                    $.getJSON("/home/pesquisar", pesquisa, function (data) {
                        var resultados = $("#resultados"); //Obtém os resultados apresentados no div
                        resultados.empty();

                        if (data.length == 0) //Se nenhum registro foi retornado
                        {
                            resultados.append('<div class="alert alert-warning"> Não encontramos nenhum restaurante...</div>');
                            return false;//Interrompe a execução do script
                        }
                        //Obtém os dados de cada registro retornado e os adicina na variável "resultados"
                        for (var i = 0; i < data.length; i++) {
                            //Ajusta os dados co campo DisqueEntrega de "bool" para "string"
                            if (data[i].DisqueEntrega == true)
                                data[i].DisqueEntrega = "Sim";
                            else
                                data[i].DisqueEntrega = "Não";
                            resultados.append('<div align="left" class="alert alert-success">' +
                                              '<h4><b>' + data[i].Nome + '</b></h4>' +
                                              '<p><p>Endereço: </b>' + data[i].Endereco + '</p>' +
                                              '<p><p>Telefone: </b>' + data[i].Telefone + '</p>' +
                                              '<p><p>Site: </b>' + data[i].Site + '</p>' +
                                              '<p><p>Disque Entrega: </b>' + data[i].DisqueEntrega + '</p>' + '</div>');
                        }
                    }); //Final da função para obtenção dos resultados
                    return false; // Interrompe a execução do script
                });//Final da função onclick
            });//Final da função principal
    </script>
}